{{ define "main" }} <main>
  <article>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    {{ .Content }}
  </article>
  <ul>
    {{ range ( where .Pages ".Draft" false ) }}
      <li>
        <time>{{ .Date.Format "Jan 2, 2006" }}</time>
        <br>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <br>
        <br>
        {{ .Summary }}
        <br>
        <br>
        <b>Categories</b>:
        {{ with .Params.categories }}
        {{ range . }} 
        <a href="/categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
        {{ end }} 
        |
        <b>Tags</b>:
        {{ with .Params.tags }}
        {{ range . }} 
        <a href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
        {{ end }} 
      </li>
    {{ end }}
  </ul>
</main>
{{ end }}
