<header class="site-header" role="banner">

  <div class="py-16">
    <h1 class="text-2xl hover:underline"> <a href="{{ $.Site.BaseURL }}">{{ $.Site.Title }}</a> </h1>
  <nav role="navigation">
    <div class="container">
      <ul class="menu">
        {{ range .Site.Menus.main }}
         <li class="text-base underline decoration-sky-600 decoration-2 underline-offset-4 hover:text-sky-500">
            <a href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}

        {{ range .Site.Menus.social }}
         <li class="text-base underline decoration-sky-600 decoration-2 underline-offset-4 hover:text-sky-500">
            <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </nav>
  </div>

</header>
