{{ define "main" }}

<h1>Whoami</h1>

<p>
Hi! My name is Alain Anghelidi. I'm a former Data Scientist currently working
as an Machine Learning Engineer whose goal is to build
robust and efficient machine learning systems into production.
This is the place where I share my personal thoughts on programming and my continous
learning journey.  <a href={{ "about/" | absURL }}>(more)</a>
</p>
<br/>

<h1>Latest posts</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Mon, Jan 2 2006"}}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}
