a {
  color: #222;
  text-decoration: underline;
  text-decoration-color: #0b79b8;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a:hover {
  color: #0b79b8;
}

ul.blog-posts li a:visited {
  color: initial;
}
