@media (prefers-color-scheme: dark) {
  a {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #0b79b8;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  a:hover {
    color: #0b79b8;
  }

  ul.blog-posts li a:visited {
    color: #fff;
  }

  ul.blog-posts li a:hover {
    color: #0b79b8;
  }

  .banner {
    background-color: #EEEEEE;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
  }
  .banner__caption {
    color: #757575;
    font-size: 0.7em;
    font-style: italic;
    padding-top: 1rem;
  }
}

@media (prefers-color-scheme: light) {
  a {
    color: #222;
    text-decoration: underline;
    text-decoration-color: #0b79b8;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }

  a:hover {
    color: #0b79b8;
  }

  ul.blog-posts li a:visited {
    color: initial;
  }

  .banner {
    background-color: #EEEEEE;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
  }
  .banner__caption {
    font-size: 0.7em;
    font-style: italic;
    padding-top: 1rem;
  }

}

.banner__img {
  border-radius: 0.5rem;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  cover: cover;
}

